body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea, button, select {
    padding: 10px;
    margin-top: 5px;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #4cae4c;
}

.message {
    align-items: center;
    margin-bottom: 20px;
    font-size: 16px;
    background-color:#4cae4c ;
    border-radius: 5px;
}

.message div {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.message .success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
}

.message .error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}

#select-container {
    margin-top: 10px;
    margin-bottom: 20px;
}

#select-container label {
    display: block;
    margin-top: 10px;
}

#select-container select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#select-container .select-wrapper {
    margin-bottom: 10px;
}
